<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Order</title>
<meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Add Book</title>
 <meta title="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
 <link rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
crossorigin="anonymous">

</head>

<body style="background:url('/uploads/1.png')">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"> <img src="/uploads/NSYH.ico" width="60" height="60" class="d-inline-block align-left" alt=""> NYSH BookStore</a>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/book/list/">Book</a></li>
				<li class="nav-item"><a class="nav-link" href="/order/list/">Order</a></li>
				<li class="nav-item"><a class="nav-link" href="/client/list">Client</a></li>
			</ul>
		</div>
	</nav>
<h1 align="center">Ajouter une commande</h1>
<div>
<form th:object="${order}" th:action="@{/order/add}" method="post" align="center">

<div class="form-group col-md-8">
<label for="client" class="col-form-label">Client :</label>
<label >
<select name="idclient" class="form-control">
<option th:each="client : ${clients}"  th:value="${client.idClient}" th:text="${client.getln()}"/>
 </select>
</label>
</div>

<div class="form-group col-md-8">
<label for="date" class="col-form-label">Order Date: </label><input type="text" readonly th:field="${order.orderDate}"></p>	
</div>
<div class="container my-5">
<table class="table" style="background-color:white">
  								 <thead class="thead-dark">
									<tr>
										<th>Title</th>
										<th>Author</th>
										<th>Price</th>
										<th>ReleaseDate</th>
										<th>Show</th>
										<th>Check</th>
										
									</tr>
								</thead>
								<tbody>
									<tr th:each="book : ${books}">
										<td th:text="${book.title}"></td>
										<td th:text="${book.author}"></td>
										<td th:text="${book.price}"></td>
										<td th:text="${book.releaseDate}"></td>
										<td><a th:href="@{/book/show/{id}(id=${book.idBook})}" class="btn btn-primary"><i class="fas fa-user-show ml-2">Show Details</i></a></td>
										<td><input type="checkbox" name="checkid" th:value="${book.idBook}" /></td>
									</tr>
								</tbody>
							</table>
							</div>
							<input type="submit" value="Add Order" class="btn btn-primary"/>
							</form>
								
</div>
</body>
</html>